{% extends 'base-back.html.twig' %}

{% block title %}Modifier Matériel{% endblock %}

{% block body %}
    <h1>Modifier Matériel</h1>

    {{ include('materiels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('materiels_index') }}">back to list</a>

    {{ include('materiels/_delete_form.html.twig') }}
{% endblock %}
